PORT=8340
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_DB='bnr_music'
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
PRIVATE_KEY=secret_key_stone_asdc
JWT_ACCESS_SECRET=jwt-access-token-singus
JWT_REFRESH_SECRET=jwt-refresh-token-singout
EXPIRES_ACCESS_JWT="24h"
EXPIRES_REFRESH_JWT="30d"
CLIENT_URL=http://localhost:3000


SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE=false
MAIL_DISABLED=false
API_URL=http://localhost:8340
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM="BNR Music <bnr.sender@gmail.com>"
MAIL_TEST_TO=
SEED_ADMIN_EMAIL=adminuis@gmail.com
SEED_ADMIN_PASSWORD=adminuis123Aadminuis
